* {
    margin: 0;
    font-family: 'Mooli', sans-serif;
}

header {
    background-color: antiquewhite;
    padding: 50px 230px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.title {
    font-size: 40px;
    font-weight: bold;
}